body{
  margin: 0;
  padding: 0;
  background-color: #ECA400;
}


h1{
  text-align: center;
  font-size: 30px;
  font-family: Tahoma;
  margin-bottom: 60px;
}
.container{
  max-width: 400px;
  margin: 150px auto;
  background-color: #EAF8BF;
  padding: 20px 0;
  border-radius: 25px;
}

.input{
  width: 80%;
  margin: 40px auto;
}

.input > input{
  width: 200px;
  height: 25px;
  font-size: 20px;
}

.input > button { 
  font-size: 22px;
  margin-left: 20px;
  cursor: pointer;
  background-color: #006992;
  color: white;
  font-family: Tahoma;
  border: none;
  border-radius: 8px;
}

.function{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.function > label{
    text-align: center;
    font-size: 20px;
    margin: 10px;
    font-family: Tahoma;
}

.result{
  width: 80%;
  margin: 20px auto;
}

.result > p{
  text-align: center;
  font-size: 20px;
  font-family: Tahoma;
  color: white;
  background-color: #006992;
  border-radius: 10px;
  padding: 5px;
}


.range{
  accent-color: black;
}

.checkbox{
  height: 16px;
  width: 16px;
  accent-color: black;
  cursor: pointer;
  margin-right: 5px;
}